/* public/css/login.css */

.login-container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-login {
    border: none;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    border-top: 5px solid var(--accent-yellow) !important; /* El toque amarillo */
    background-color: #ffffff;
}

.login-title {
    color: var(--primary-green);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.form-label {
    font-weight: 600;
    color: var(--text-dark);
}

.form-control:focus {
    border-color: var(--primary-green);
    box-shadow: 0 0 0 0.25rem rgba(0, 109, 51, 0.15);
}

.btn-login {
    background-color: var(--primary-green);
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px;
    transition: all 0.3s;
}

.btn-login:hover {
    background-color: var(--hover-green);
    transform: translateY(-2px);
}