</main> 

    <footer class="main-footer bg-dark text-white py-4 mt-5">
        <div class="container text-center">
            <p>&copy; <%= new Date().getFullYear() %> Sistema de Librería. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="/js/main.js"></script>

</body>
</html>