<%- include('layout/header') %> <main class="container">
    <form id="loginForm">
        <h1>Entrar</h1>
        <input type="email" id="loginEmail" placeholder="Correo" required>
        <input type="password" id="loginPassword" placeholder="Contraseña" required>
        <button type="submit" class="btn">Ingresar</button>
    </form>
</main>

<%- include('partials/scripts') %> 

<%- include('layout/footer') %>